body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.5em;
	background: #3F7551 url('../img/bg.jpg')  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.attendance {
    margin-top: 10px;
}

.event-right {
    margin-top: 15px;
}

#content>div.container{
	background-color: #F8F5DA;
	padding: 3em 0em 3em 0em;
}

#treeDescription {
	resize: none;
	overflow: scroll;
}

#userList {
	margin-top: 25px;
}

.user-name {
	margin: 10px 0 10px;
}

#emailPrefs {
	margin-top: 3px;
}

@media (min-width: 768px) {
	.admin-title {
		margin-top: 4px;
	}
}

@media (max-width: 768px) {
	#searchField,
	#searchBtn,
	#donateBtn {
		margin-bottom: 15px;
	}
}